@model HackatonWeb.Feature.Hero.Models.HeroContent

<div class="hero"  style="background-image: url(@Model.BackgroundImage);">
    <div class="overlay">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="hero-text">
                        <h1>
                            @Model.Title
                        </h1>
                        <h2>@Model.SubTitle</h2>
                        <p>@Model.Description</p>
                        <div class="hero-buttons">
                            @Model.LinkMoreInformation
                            @Model.LinkJoin
                        </div>
                        <h3>@Model.MainEventDate</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <video id="video" class="hero__video" loop=loop muted=muted preload="metadata" autoplay=autoplay>
        <source class="video__source" type="video/mp4" data-src="@Model.VideoUrl" />
    </video>
</div>