@using HackatonWeb.WebSite.Models.Pages

@model HackathonModel

<section id="content" class="post-content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="rtf">
                    <h1>@Model.Title</h1>
                    @Model.Description
                </div>
            </div>
            <div class="col-md-12">
                <div class="tabs">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#tab1">@Model.SubmissionTitle</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tab2">@Model.JudgesTitle</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tab3">@Model.PrizesTitle</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div id="tab1" class="container tab-pane active">
                            <div class="rtf">
                                @Model.SubmissionInformation
                            </div>
                        </div>
                        <div id="tab2" class="container tab-pane fade">
                            <div class="judges">
                                @foreach (var judge in Model.Judges)
                                {
                                <div class="judge">
                                    <div class="picture">
                                        @judge.Picture
                                    </div>
                                    <div class="content">
                                        <div class="name">
                                            @judge.Name
                                            <div class="social">
                                                <a href="@judge.LinkedInLink" class="linkedin">
                                                    @judge.LinkedInPicture
                                                </a>
                                                <a href="@judge.TwitterLink" class="twitter">
                                                    @judge.TwitterPicture
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                }
                            </div>
                        </div>
                        <div id="tab3" class="container tab-pane fade">
                            <br>
                            @Model.PrizesDetail
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @Html.Sitecore().Placeholder("mapContent")

        <h3>Faqs</h3>
        <div id="accordion">
            @foreach (var faq in Model.FAQs)
            {
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            @faq.Question
                        </button>
                    </h5>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                        @faq.Answer
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
</section>